<%= link_to "Offer to mentor someone", new_availability_path %>

<h1>Manage <%= @mentor.name %>'s availability</h1>

<% @availabilities.each do |a| %>
<p>
  On <%= display_availability(a) %>
  <%= link_to "Delete!", availability_path(a), :method => :delete %>
</p>  
<% end %>
